<a href="https://colab.research.google.com/github/Lemito66/AnalisisDeDatos/blob/master/Taller_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerías y Pandas

<div style="text-align: right">por <a href="https://www.linkedin.com/in/angel-astudillo-aguilar" target="_blank">Angel Xavier Astudillo Aguilar</a></div>


## Recapitulación
1. Presentación e introducción al entorno de Python
2. Introducción a Python
3. Variable y Tipos de datos más comunes
4. Operadores aritméticos y textuales
5. Control de flujo: bucles
6. Control de flujo: condicionales
7. Funciones

## Hoy veremos
 8. Librerías en Python
 9. Pandas para el análisis de datos
 10. Análisis de datos

## Librerías en Python

Normally, a library is a collection of books or is a room or place where many books are stored to be used later. Similarly, in the programming world, a library is a collection of precompiled codes that can be used later on in a program for some specific well-defined operations. Other than pre-compiled codes, a library may contain documentation, configuration data, message templates, classes, and values, etc.

A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs. It makes Python Programming simpler and convenient for the programmer. As we don’t need to write the same code again and again for different programs. Python libraries play a very vital role in fields of Machine Learning, Data Science, Data Visualization, etc.

### ¿Cómo ver las librerías que tengo instaladas?

In [ ]:
! pip list

### ¿Cómo instalar una librería?

In [ ]:
! pip install <Nombre de la libraría>

### ¿Cómo actualiar una librería?

In [ ]:
! pip install <Nombre de la libraría>

## Pandas

### Diccionarios en Python

#### ¿Cómo crear un diccionario?

In [ ]:
diccionario = {"clave1":"valor1", "clave2":"valor2"}

In [ ]:
diccionario

{'clave1': 'valor3', 'clave2': 'valor2', 'clave3': 'valor3'}

 #### ¿Cómo acceder a los elementos del diccionario?

In [ ]:
print(diccionario["clave1"])

valor1

#### ¿Cómo modificar el diccionario?

##### Añadir/cambiar un elemento

In [ ]:
diccionario["clave3"] = "valor3"

In [ ]:
diccionario

{'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3'}

In [ ]:
diccionario["clave1"] = "valor3"

In [ ]:
diccionario

{'clave1': 'valor3', 'clave2': 'valor2', 'clave3': 'valor3'}

##### Eliminar un elemento

In [ ]:
diccionario.pop("clave2")

'valor2'

In [ ]:
diccionario

{'clave1': 'valor3', 'clave3': 'valor3'}

In [ ]:
diccionario.pop("clave4")

KeyError: ignored

In [ ]:
diccionario.pop("clave4", "no existe")

'no existe'

In [ ]:
diccionario.popitem()

('clave3', 'valor3')

In [ ]:
diccionario

{'clave1': 'valor3'}

In [ ]:
diccionario.popitem()

('clave1', 'valor3')

In [ ]:
diccionario

{}

In [ ]:
diccionario.popitem()

KeyError: ignored

In [ ]:
diccionario = {"clave1":"valor1", "clave2":"valor2"}
diccionario

{'clave1': 'valor1', 'clave2': 'valor2'}

<img width=600 src="https://www.adictosaltrabajo.com/wp-content/uploads/2020/12/1200px-Pandas_logo.svg_.png">

### Intro

`pandas` es la librería de Python **más utilizada** para el análisis de datos. Es:
 * rápida
 * potente
 * flexible
 * fácil de usar
 * de código abierto ([ver código fuente](https://github.com/pandas-dev/pandas))

[Documentación de pandas](https://pandas.pydata.org/docs/reference/index.html#api)

`pandas` nos ayuda en gran parte de nuestras actividades como Data Scientists

### Instalación

In [ ]:
! pip install pandas

In [4]:
import pandas as pd

### Estructuras de datos de pandas

#### Series

Una `pd.Series` es un objeto tipo array **unidimensional** donde cada elemento tiene un nombre (índice, no necesariamente numérico)

In [34]:
s = pd.Series([7, 18, 22, 4], index=["Juan", "Emilio", "Rosa", "Tania"])

In [ ]:
s

In [ ]:
type(s)

In [ ]:
s.index

In [33]:
s.values

NameError: name 's' is not defined

In [ ]:
s["Juan"]

Podemos pensar en una `pd.Series` como un `dict` ordenado, pues mapea cada índice a un valor

`pandas` es muy inteligente, y si tienes datos contenidos en un `dict` de Python, puedes crear una `pd.Series` fácilmente.

In [6]:
pop = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop

In [ ]:
pop["Ohio"]

In [ ]:
type(pop)

In [7]:
populations = pd.Series(pop)

In [8]:
populations

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
type(populations)

In [ ]:
populations["Ohio"]

In [ ]:
populations * 1.06 ** 2

In [ ]:
populations - 1000

In [ ]:
populations > 10000

In [ ]:
populations[populations > 10000]

In [11]:
populations["Ohio":"Oregon"]

Ohio      35000
Oregon    16000
dtype: int64

#### DataFrames

In [12]:
import numpy as np

In [13]:
# desde un diccionario
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]
}

In [19]:
usuarios = {
    'nombre': ['Juan', 'Emilio', 'Rosa', 'Tania'],
    'edad': [18, 22, 4, 7],
    'ubicacion': ['CDMX', 'CDMX', 'CDMX', 'CDMX'],
    'pais': ['Mexico', 'Mexico', 'Mexico', 'Mexico']
}

In [35]:
data_frame =  pd.DataFrame(usuarios)
data_frame

   nombre  edad ubicacion    pais
0    Juan    18      CDMX  Mexico
1  Emilio    22      CDMX  Mexico
2    Rosa     4      CDMX  Mexico
3   Tania     7      CDMX  Mexico

Sacar la media de edad

In [24]:
edad = 0
for i in data_frame["edad"]:
    edad += i
    
media = edad / len(data_frame["edad"])
media

12.75

In [14]:
type(data)

dict

In [15]:
df = pd.DataFrame(data)

In [16]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  NaN

In [25]:
# desde una lista de diccionarios
datos = [
    {
        'nombre': 'Fer',
        'apellido': 'Castro',
        'email': 'fer.castro@gmail.com',
        'edad': 30
    },
    {
        'nombre': 'Ana',
        'apellido': 'García',
        'email': 'ana.garcia@hotmail.com',
        'edad': 34
    },
    {
        'nombre': 'Juan',
        'apellido': 'Lopez',
        'email': 'juan.lopez@gmail.com',
        'edad': 26
    }
]

In [ ]:
type(datos)

In [ ]:
len(datos)

In [26]:
df2 = pd.DataFrame(datos)

In [27]:
df2

  nombre apellido                   email  edad
0    Fer   Castro    fer.castro@gmail.com    30
1    Ana   García  ana.garcia@hotmail.com    34
2   Juan    Lopez    juan.lopez@gmail.com    26

### Cargar datos desde archivo

Pandas puede leer y escribir datos de una gran variedad de formatos.

[Documentación](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

#### .csv

In [28]:
df = pd.read_csv("./datasets/titanic.csv")

In [31]:
df.shape

(1309, 11)

In [32]:
df.head()

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1

#### .xlsx

In [37]:
cars = pd.read_excel("./datasets/cars.xlsx")

In [38]:
cars.shape

(398, 9)

In [39]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70.0,1,buick skylark 320
2,18.0,8,NaN,150,3436,11.0,70.0,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70.0,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70.0,1,ford torino

In [41]:
cars2 = pd.read_excel("./datasets/cars.xlsx", sheet_name="metadata-cars")

In [42]:
cars2

      brand  n_years country
0  mercedes       33     USA
1      audi       56      UK
2      ford       28      UK

In [43]:
cars2.head()

      brand  n_years country
0  mercedes       33     USA
1      audi       56      UK
2      ford       28      UK

### Explorando un dataframe

In [44]:
cars.shape

(398, 9)

In [45]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70.0,1,buick skylark 320
2,18.0,8,NaN,150,3436,11.0,70.0,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70.0,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70.0,1,ford torino

In [46]:
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82.0,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82.0,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82.0,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82.0,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82.0,1,chevy s-10

In [47]:
cars.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
397,31.0,4,119.0,82,2720,19.4,82.0,1,chevy s-10
126,21.0,6,200.0,?,2875,17.0,74.0,1,ford maverick
56,26.0,4,91.0,70,1955,20.5,71.0,1,plymouth cricket
88,14.0,8,302.0,137,4042,14.5,73.0,1,ford gran torino
131,32.0,4,71.0,65,1836,21.0,74.0,3,toyota corolla 1200

In [48]:
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [52]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70.0,1,buick skylark 320
2,18.0,8,NaN,150,3436,11.0,70.0,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70.0,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70.0,1,ford torino

In [49]:
cars.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year      float64
origin            int64
car name         object
dtype: object

In [50]:
cars.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,393.000000,398.000000,396.000000,396.000000,398.000000
mean,23.514573,5.454774,192.609415,2970.424623,15.559596,76.035354,1.572864
std,7.815984,1.701004,103.547981,846.841774,2.752358,3.689707,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.750000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,260.000000,3608.000000,17.125000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [51]:
cars.acceleration.describe().round(2)

count    396.00
mean      15.56
std        2.75
min        8.00
25%       13.80
50%       15.50
75%       17.12
max       24.80
Name: acceleration, dtype: float64

In [53]:
cars.acceleration

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
       ...
393    15.6
394    24.6
395    11.6
396    18.6
397    19.4
Name: acceleration, Length: 398, dtype: float64

In [54]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  393 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  396 non-null    float64
 6   model year    396 non-null    float64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

### Explorando por columna

In [ ]:
type(cars)

In [ ]:
cars.head()

In [ ]:
cars["model year"].head()

In [ ]:
cars.mpg

In [ ]:
cars.mpg.max()

In [ ]:
cars.mpg.min()

In [ ]:
cars.mpg.mean()

In [ ]:
cars.mpg.quantile(0.5)

In [ ]:
cars.mpg.quantile(0.9)

In [ ]:
cars.head()

In [ ]:
cars.weight.sum() / 1000

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.cylinders.nunique()

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.cylinders.value_counts()

In [ ]:
cars.cylinders.value_counts().sort_index()

In [ ]:
cars.head()

In [ ]:
cars.shape

In [ ]:
cars.nunique()

In [ ]:
cars["car name"].value_counts()

In [ ]:
cars.head()

In [ ]:
cars.sort_values("acceleration")

In [ ]:
cars.sort_values("acceleration", ascending=False).head()

In [ ]:
cars.sort_values(["cylinders", "acceleration"]).head()

Para contar pares de variables

In [ ]:
cars.head()

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.origin.unique()

In [ ]:
pd.crosstab(cars.cylinders, cars.origin)

In [ ]:
pd.crosstab(df.Pclass, df.Survived).round(3)

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="index").round(3)

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="columns").round(3)

### Selección dentro del dataframe

In [ ]:
cars.head()

#### por nombre de columna

In [ ]:
cars[['mpg', 'cylinders', 'displacement']].head()

#### por condición

In [ ]:
cars.head()

In [ ]:
cars.mpg > 16

In [ ]:
(cars.mpg > 16).sum()

In [ ]:
cars[cars.mpg > 16]

In [ ]:
cars[cars.acceleration > 23]

In [ ]:
cars.head()

In [ ]:
cars["car name"]

In [ ]:
cars["car name"].str.contains("ford")

In [ ]:
cars[cars["car name"].str.contains("ford")].head()

`~` es la negación lógica, lo contrario

In [ ]:
cars.head()

In [ ]:
~cars["car name"].str.contains("ford")

In [ ]:
cars[~cars["car name"].str.contains("ford")].shape

In [ ]:
cars[~cars["car name"].str.contains("ford")].head()

`&` es el "and"  
`|` es el "or"

In [ ]:
cars.head()

In [ ]:
(cars.mpg > 15) & (cars.weight > 3500)

In [ ]:
cars[(cars.mpg > 15) & (cars.weight > 3500)].head()

In [ ]:
cars[(cars.mpg > 18) | (cars.weight > 3500)].head()

In [ ]:
cars[cars.cylinders == 3]

In [ ]:
cars.cylinders.isin([3, 5])

In [ ]:
cars[cars.cylinders.isin([3, 5])]

In [ ]:
cars.acceleration.mean()

In [ ]:
cars[cars.acceleration > cars.acceleration.mean()][["mpg", "acceleration", "car name"]]

#### por índice

In [ ]:
cars.head()

In [ ]:
cars = cars.sort_values("car name")

In [ ]:
cars.head()

In [ ]:
cars.loc[2]

In [ ]:
cars.iloc[2]

In [ ]:
cars.iloc[100:105]

### Creación de columnas

In [ ]:
cars.head()

In [ ]:
cars["is_fast"] = cars.acceleration > 22

In [ ]:
cars.head()

In [ ]:
cars["miles_per_liter"] = cars["mpg"] / 4.54

In [ ]:
cars.head()

In [ ]:
cars[cars.is_fast]

### Manejo de valores nulos

In [ ]:
cars.info()

In [ ]:
cars[cars.displacement.isna()]

In [ ]:
cars.isna().any()

In [ ]:
cars.isna().any(axis=1)

In [ ]:
cars[cars.isna().any(axis=1)]

¿Qué hacemos? Podemos rellenar

#### relleno fijo

In [ ]:
cars = cars.sort_index()

In [ ]:
cars.head()

In [ ]:
cars.fillna(0).head()

#### relleno con la media

In [ ]:
cars.fillna(cars.mean()).head()

#### borrar columna

In [ ]:
cars.head()

In [ ]:
cars.drop("displacement", axis=1).head()

#### borrar filas

In [ ]:
cars[cars.displacement.notna()].head()

### GroupBy

In [ ]:
cars.head()

In [ ]:
cars.groupby('cylinders').acceleration.mean()

In [ ]:
cars.groupby('cylinders').agg({'acceleration': 'std', 'weight': 'mean'}).head()

### Aplicación de funciones

Utilizamos el método `apply`

In [ ]:
cars.head()

Imaginemos que queremos computar, para cada coche:
 * la primera palabra del nombre
 * si el año del modelo fue bisiesto

Primero creamos la función, luego la aplicamos

In [ ]:
def get_first_word(sentence):
    words = sentence.split()

    return words[0]

In [ ]:
get_first_word("hola me llamo manuel")

In [ ]:
def is_bisiest(year):
    if year % 4 == 0:
        return True
    else:
        return False

In [ ]:
is_bisiest(2001)

In [ ]:
cars["is_bisiest"] = cars["model year"].apply(is_bisiest)

In [ ]:
cars["name1"] = cars["car name"].apply(get_first_word)

In [ ]:
cars.head()

### Exportar datos

In [ ]:
cars.to_csv('../datasets/test/cars1.csv', index=False)

In [ ]:
cars.to_csv('../datasets/test/cars2.csv', index=True)

In [ ]:
df.to_json('../datasets/test/cars.json', orient='records')

In [ ]:
df.to_excel('../datasets/test/cars.xlsx', index=False)

### Recap: métodos más utilizados de pandas

```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```

### Material extra!

* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Ejercicios para practicar](https://github.com/guipsamora/pandas_exercises)
* [merge, concat, join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index)