<a href="https://colab.research.google.com/github/Lemito66/AnalisisDeDatos/blob/master/Taller_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerías y Pandas

<div style="text-align: right">por <a href="https://www.linkedin.com/in/angel-astudillo-aguilar" target="_blank">Angel Xavier Astudillo Aguilar</a></div>


## Recapitulación
1. Presentación e introducción al entorno de Python
2. Introducción a Python
3. Variable y Tipos de datos más comunes
4. Operadores aritméticos y textuales
5. Control de flujo: bucles
6. Control de flujo: condicionales
7. Funciones

## Hoy veremos
 8. Librerías en Python
 9. Pandas para el análisis de datos
 10. Análisis de datos

## Librerías en Python

Normally, a library is a collection of books or is a room or place where many books are stored to be used later. Similarly, in the programming world, a library is a collection of precompiled codes that can be used later on in a program for some specific well-defined operations. Other than pre-compiled codes, a library may contain documentation, configuration data, message templates, classes, and values, etc.

A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs. It makes Python Programming simpler and convenient for the programmer. As we don’t need to write the same code again and again for different programs. Python libraries play a very vital role in fields of Machine Learning, Data Science, Data Visualization, etc.

### ¿Cómo ver las librerías que tengo instaladas?

In [ ]:
! pip list

### ¿Cómo instalar una librería?

In [ ]:
! pip install <Nombre de la libraría>

### ¿Cómo actualiar una librería?

In [ ]:
! pip install <Nombre de la libraría>

## Pandas

### Diccionarios en Python

#### ¿Cómo crear un diccionario?

In [ ]:
diccionario = {"clave1":"valor1", "clave2":"valor2"}

In [ ]:
diccionario

{'clave1': 'valor3', 'clave2': 'valor2', 'clave3': 'valor3'}

 #### ¿Cómo acceder a los elementos del diccionario?

In [ ]:
print(diccionario["clave1"])

valor1

#### ¿Cómo modificar el diccionario?

##### Añadir/cambiar un elemento

In [ ]:
diccionario["clave3"] = "valor3"

In [ ]:
diccionario

{'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3'}

In [ ]:
diccionario["clave1"] = "valor3"

In [ ]:
diccionario

{'clave1': 'valor3', 'clave2': 'valor2', 'clave3': 'valor3'}

##### Eliminar un elemento

In [ ]:
diccionario.pop("clave2")

'valor2'

In [ ]:
diccionario

{'clave1': 'valor3', 'clave3': 'valor3'}

In [ ]:
diccionario.pop("clave4")

KeyError: ignored

In [ ]:
diccionario.pop("clave4", "no existe")

'no existe'

In [ ]:
diccionario.popitem()

('clave3', 'valor3')

In [ ]:
diccionario

{'clave1': 'valor3'}

In [ ]:
diccionario.popitem()

('clave1', 'valor3')

In [ ]:
diccionario

{}

In [ ]:
diccionario.popitem()

KeyError: ignored

In [ ]:
diccionario = {"clave1":"valor1", "clave2":"valor2"}
diccionario

{'clave1': 'valor1', 'clave2': 'valor2'}

<img width=600 src="https://www.adictosaltrabajo.com/wp-content/uploads/2020/12/1200px-Pandas_logo.svg_.png">

### Intro

`pandas` es la librería de Python **más utilizada** para el análisis de datos. Es:
 * rápida
 * potente
 * flexible
 * fácil de usar
 * de código abierto ([ver código fuente](https://github.com/pandas-dev/pandas))

[Documentación de pandas](https://pandas.pydata.org/docs/reference/index.html#api)

`pandas` nos ayuda en gran parte de nuestras actividades como Data Scientists

### Instalación

In [ ]:
! pip install pandas

In [4]:
import pandas as pd

### Estructuras de datos de pandas

#### Series

Una `pd.Series` es un objeto tipo array **unidimensional** donde cada elemento tiene un nombre (índice, no necesariamente numérico)

In [ ]:
s = pd.Series([7, 18, 22, 4], index=["Juan", "Emilio", "Rosa", "Tania"])

In [ ]:
s

In [ ]:
type(s)

In [ ]:
s.index

In [ ]:
s.values

In [ ]:
s["Juan"]

Podemos pensar en una `pd.Series` como un `dict` ordenado, pues mapea cada índice a un valor

`pandas` es muy inteligente, y si tienes datos contenidos en un `dict` de Python, puedes crear una `pd.Series` fácilmente.

In [6]:
pop = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop

In [ ]:
pop["Ohio"]

In [ ]:
type(pop)

In [7]:
populations = pd.Series(pop)

In [8]:
populations

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
type(populations)

In [ ]:
populations["Ohio"]

In [ ]:
populations * 1.06 ** 2

In [ ]:
populations - 1000

In [ ]:
populations > 10000

In [ ]:
populations[populations > 10000]

In [11]:
populations["Ohio":"Oregon"]

Ohio      35000
Oregon    16000
dtype: int64

#### DataFrames

In [12]:
import numpy as np

In [13]:
# desde un diccionario
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]
}

In [19]:
usuarios = {
    'nombre': ['Juan', 'Emilio', 'Rosa', 'Tania'],
    'edad': [18, 22, 4, 7],
    'ubicacion': ['CDMX', 'CDMX', 'CDMX', 'CDMX'],
    'pais': ['Mexico', 'Mexico', 'Mexico', 'Mexico']
}

In [20]:
data_frame =  pd.DataFrame(usuarios)
data_frame

   nombre  edad ubicacion    pais
0    Juan    18      CDMX  Mexico
1  Emilio    22      CDMX  Mexico
2    Rosa     4      CDMX  Mexico
3   Tania     7      CDMX  Mexico

Sacar la media de edad

In [24]:
edad = 0
for i in data_frame["edad"]:
    edad += i
    
media = edad / len(data_frame["edad"])
media

12.75

In [14]:
type(data)

dict

In [15]:
df = pd.DataFrame(data)

In [16]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  NaN

In [ ]:
# desde una lista de diccionarios
datos = [
    {
        'nombre': 'Fer',
        'apellido': 'Castro',
        'email': 'fer.castro@gmail.com',
        'edad': 30
    },
    {
        'nombre': 'Ana',
        'apellido': 'García',
        'email': 'ana.garcia@hotmail.com',
        'edad': 34
    },
    {
        'nombre': 'Juan',
        'apellido': 'Lopez',
        'email': 'juan.lopez@gmail.com',
        'edad': 26
    }
]

In [ ]:
type(datos)

In [ ]:
len(datos)

In [ ]:
df2 = pd.DataFrame(datos)

In [ ]:
df2

### Cargar datos desde archivo

Pandas puede leer y escribir datos de una gran variedad de formatos.

[Documentación](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

#### .csv

In [ ]:
df = pd.read_csv("../datasets/titanic.csv")

In [ ]:
df.shape

In [ ]:
df.head()

#### .xlsx

In [ ]:
cars = pd.read_excel("../datasets/cars.xlsx")

In [ ]:
cars.shape

In [ ]:
cars.head()

In [ ]:
cars2 = pd.read_excel("../datasets/cars.xlsx", sheet_name="metadata-cars")

In [ ]:
cars2

In [ ]:
cars2.head()

### Explorando un dataframe

In [ ]:
cars.shape

In [ ]:
cars.head()

In [ ]:
cars.tail()

In [ ]:
cars.sample(5)

In [ ]:
cars.columns

In [ ]:
cars.head()

In [ ]:
cars.dtypes

In [ ]:
cars.describe()

In [ ]:
cars.acceleration.describe().round(2)

In [ ]:
cars.info()

### Explorando por columna

In [ ]:
type(cars)

In [ ]:
cars.head()

In [ ]:
cars["model year"].head()

In [ ]:
cars.mpg

In [ ]:
cars.mpg.max()

In [ ]:
cars.mpg.min()

In [ ]:
cars.mpg.mean()

In [ ]:
cars.mpg.quantile(0.5)

In [ ]:
cars.mpg.quantile(0.9)

In [ ]:
cars.head()

In [ ]:
cars.weight.sum() / 1000

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.cylinders.nunique()

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.cylinders.value_counts()

In [ ]:
cars.cylinders.value_counts().sort_index()

In [ ]:
cars.head()

In [ ]:
cars.shape

In [ ]:
cars.nunique()

In [ ]:
cars["car name"].value_counts()

In [ ]:
cars.head()

In [ ]:
cars.sort_values("acceleration")

In [ ]:
cars.sort_values("acceleration", ascending=False).head()

In [ ]:
cars.sort_values(["cylinders", "acceleration"]).head()

Para contar pares de variables

In [ ]:
cars.head()

In [ ]:
cars.cylinders.unique()

In [ ]:
cars.origin.unique()

In [ ]:
pd.crosstab(cars.cylinders, cars.origin)

In [ ]:
pd.crosstab(df.Pclass, df.Survived).round(3)

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="index").round(3)

In [ ]:
pd.crosstab(df.Pclass, df.Survived, normalize="columns").round(3)

### Selección dentro del dataframe

In [ ]:
cars.head()

#### por nombre de columna

In [ ]:
cars[['mpg', 'cylinders', 'displacement']].head()

#### por condición

In [ ]:
cars.head()

In [ ]:
cars.mpg > 16

In [ ]:
(cars.mpg > 16).sum()

In [ ]:
cars[cars.mpg > 16]

In [ ]:
cars[cars.acceleration > 23]

In [ ]:
cars.head()

In [ ]:
cars["car name"]

In [ ]:
cars["car name"].str.contains("ford")

In [ ]:
cars[cars["car name"].str.contains("ford")].head()

`~` es la negación lógica, lo contrario

In [ ]:
cars.head()

In [ ]:
~cars["car name"].str.contains("ford")

In [ ]:
cars[~cars["car name"].str.contains("ford")].shape

In [ ]:
cars[~cars["car name"].str.contains("ford")].head()

`&` es el "and"  
`|` es el "or"

In [ ]:
cars.head()

In [ ]:
(cars.mpg > 15) & (cars.weight > 3500)

In [ ]:
cars[(cars.mpg > 15) & (cars.weight > 3500)].head()

In [ ]:
cars[(cars.mpg > 18) | (cars.weight > 3500)].head()

In [ ]:
cars[cars.cylinders == 3]

In [ ]:
cars.cylinders.isin([3, 5])

In [ ]:
cars[cars.cylinders.isin([3, 5])]

In [ ]:
cars.acceleration.mean()

In [ ]:
cars[cars.acceleration > cars.acceleration.mean()][["mpg", "acceleration", "car name"]]

#### por índice

In [ ]:
cars.head()

In [ ]:
cars = cars.sort_values("car name")

In [ ]:
cars.head()

In [ ]:
cars.loc[2]

In [ ]:
cars.iloc[2]

In [ ]:
cars.iloc[100:105]

### Creación de columnas

In [ ]:
cars.head()

In [ ]:
cars["is_fast"] = cars.acceleration > 22

In [ ]:
cars.head()

In [ ]:
cars["miles_per_liter"] = cars["mpg"] / 4.54

In [ ]:
cars.head()

In [ ]:
cars[cars.is_fast]

### Manejo de valores nulos

In [ ]:
cars.info()

In [ ]:
cars[cars.displacement.isna()]

In [ ]:
cars.isna().any()

In [ ]:
cars.isna().any(axis=1)

In [ ]:
cars[cars.isna().any(axis=1)]

¿Qué hacemos? Podemos rellenar

#### relleno fijo

In [ ]:
cars = cars.sort_index()

In [ ]:
cars.head()

In [ ]:
cars.fillna(0).head()

#### relleno con la media

In [ ]:
cars.fillna(cars.mean()).head()

#### borrar columna

In [ ]:
cars.head()

In [ ]:
cars.drop("displacement", axis=1).head()

#### borrar filas

In [ ]:
cars[cars.displacement.notna()].head()

### GroupBy

In [ ]:
cars.head()

In [ ]:
cars.groupby('cylinders').acceleration.mean()

In [ ]:
cars.groupby('cylinders').agg({'acceleration': 'std', 'weight': 'mean'}).head()

### Aplicación de funciones

Utilizamos el método `apply`

In [ ]:
cars.head()

Imaginemos que queremos computar, para cada coche:
 * la primera palabra del nombre
 * si el año del modelo fue bisiesto

Primero creamos la función, luego la aplicamos

In [ ]:
def get_first_word(sentence):
    words = sentence.split()

    return words[0]

In [ ]:
get_first_word("hola me llamo manuel")

In [ ]:
def is_bisiest(year):
    if year % 4 == 0:
        return True
    else:
        return False

In [ ]:
is_bisiest(2001)

In [ ]:
cars["is_bisiest"] = cars["model year"].apply(is_bisiest)

In [ ]:
cars["name1"] = cars["car name"].apply(get_first_word)

In [ ]:
cars.head()

### Exportar datos

In [ ]:
cars.to_csv('../datasets/test/cars1.csv', index=False)

In [ ]:
cars.to_csv('../datasets/test/cars2.csv', index=True)

In [ ]:
df.to_json('../datasets/test/cars.json', orient='records')

In [ ]:
df.to_excel('../datasets/test/cars.xlsx', index=False)

### Recap: métodos más utilizados de pandas

```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```

### Material extra!

* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Ejercicios para practicar](https://github.com/guipsamora/pandas_exercises)
* [merge, concat, join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index)