<a href="https://colab.research.google.com/github/Lemito66/AnalisisDeDatos/blob/master/Taller_7_Clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Controles de flujo

<div style="text-align: right">por <a href="https://www.linkedin.com/in/angel-astudillo-aguilar" target="_blank">Angel Xavier Astudillo Aguilar</a></div>


# Recapitulación
1. Presentación e introducción al entorno de Python
2. Introducción a Python
3. Variable y Tipos de datos más comunes
4. Operadores aritméticos y textuales
5. Control de flujo: bucles
  - Tablas
  - Ciclos for

# Hoy veremos
5. Control de flujo: bucles
  - Ciclos for
6. Control de flujo: condicionales

# Control de flujo: bucles

![tabla](https://drive.google.com/uc?export=view&id=1HgjOKXGPeY3GcBUaQiItqEB6UE-vbgpi)

##### enumerate()

Sirve para iterar por índices, además de por los valores

In [ ]:
names = ['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

In [ ]:
for n in names:
    print(n)

Alice
Bob
Jack
Mary
Manuel
Amanda
Ignacio
Fernando

In [ ]:
for i, name in enumerate(names):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
for i, nombre in enumerate(names):
    print(f"Mi amigo número {i+1} es {nombre}")
    print(i ** 2, nombre.upper(), "\n")

Mi amigo número 1 es Alice
0 ALICE

Mi amigo número 2 es Bob
1 BOB

Mi amigo número 3 es Jack
4 JACK

Mi amigo número 4 es Mary
9 MARY

Mi amigo número 5 es Manuel
16 MANUEL

Mi amigo número 6 es Amanda
25 AMANDA

Mi amigo número 7 es Ignacio
36 IGNACIO

Mi amigo número 8 es Fernando
49 FERNANDO

**Ejercicio**: crea una lista y añade a ella sólo los números negativos que aparecen en posición par (0, 2, 4...) de la lista original

In [ ]:
#       0   1   2   3   4   5    6
nums = [5, -12, 66, 34, -1, 100, -8]

In [ ]:
neg_nums = []
neg_nums.append(3)

In [ ]:
neg_nums = [3,5,8,12]
neg_nums.append(100)

In [ ]:
neg_nums

[3, 5, 8, 12, 100]

In [ ]:
neg_nums = []

if i % 2 == 0:
  neg_nums.append(elemento)

In [ ]:
neg_nums = []
for i, number in enumerate(nums):
    if i % 2 == 0 and number < 0:
        neg_nums.append(number)

In [ ]:
neg_nums

[-1, -8]

##### zip()

Es utilizado para iterar por más de un iterable

In [ ]:
names = ['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']
names

['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

In [ ]:
ages = [30, 20, 21, 22, 94, 54, 88, 10]
ages

[30, 20, 21, 22, 94, 54, 88, 10]

In [ ]:
len(names)

8

In [ ]:
len(ages)

8

In [ ]:
for name, age in zip(names, ages):
    print(name, age)

Alice 30
Bob 20
Jack 21
Mary 22
Manuel 94
Amanda 54
Ignacio 88
Fernando 10

##### Iterar un diccionario

In [ ]:
persona = {
    "age": 33,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [ ]:
for k in persona.keys():
    print(k)

age
name
city
height
has_children
friends
ocupacion

In [ ]:
for pepe in persona.values():
    print(pepe)

33
Manuel
Madrid
1.84
False
['Juan', 'Luis']
{'name': 'profe', 'tiempo': 3, 'salario': 100}

Los diccionarios tienen un método llamado `.items()`, que enumera sus keys y values

In [ ]:
persona.items()

dict_items([('age', 33), ('name', 'Manuel'), ('city', 'Madrid'), ('height', 1.84), ('has_children', False), ('friends', ['Juan', 'Luis']), ('ocupacion', {'name': 'profe', 'tiempo': 3, 'salario': 100})])

In [ ]:
for k, v in persona.items():
    print(k, v, "\n")

age 33

name Manuel

city Madrid

height 1.84

has_children False

friends ['Juan', 'Luis']

ocupacion {'name': 'profe', 'tiempo': 3, 'salario': 100}

In [ ]:
persona

{'age': 33,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [ ]:
for k, v in persona["ocupacion"].items():
  jejrwejr

SyntaxError: ignored

Ahora hagamos una prueba con nuestro primer dataset. Si quiero imprimir las filas de primer dataset ¿cómo lo haría?

In [ ]:
fila_1 = ['Facebook',0.0,'USD',2974676,3.5]
fila_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
fila_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
fila_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
fila_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [ ]:
data_set = [fila_1,fila_2,fila_3,fila_4,fila_5]
print(data_set[0])
print(data_set[1])
print(data_set[2])
print(data_set[3])
print(data_set[4])

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [ ]:
for fila in data_set:
  print(fila)

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [ ]:
for datos in data_set:
  print(f"{datos}")

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [ ]:
texto = "bonito"
"esto es un texto"
"esto es un texto " + texto
f"esto es un texto {texto}"

'esto es un texto bonito'

Siguiendo la filosofía *DRY* (Don't Repeat Yourself). De esta manera, podríamos aplicar un **for** para reducir nuestro código y optimizarlo buscando no *repetir líneas de código*.

In [ ]:
for fila in data_set:
    print(fila)

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

![tabla](https://drive.google.com/uc?export=view&id=1lGCdgouW5nII757MjCMlH5nI6HZPNnpv)

Ahora que en la **variable** interior *fila* tengo una **fila** de la **tabla** que, en este caso, es una **lista**, podemos obtener el *rating* de cada **fila** sacando el **último elemento de la lista**.

In [ ]:
for fila in data_set:
    print(fila[-1])

3.5
4.5
4.5
4.5
4.0

Perfecto! Entonces en cada **iteración** estamos imprimiendo el *rating* de cada **fila de la tabla.** Si queremos automatizar el *cálculo* de la **media de rating** de mi **dataset**, según su definición, debo *sumar todos los ratings y dividirlos para la cantidad de ratings sumados*

In [ ]:
promedio = 0
for fila in data_set:
    promedio += fila[-1]

promedio = promedio / len(data_set)
print(promedio)

4.2

In [ ]:
media = 0
for fila in data_set:
    media += fila[-1] / len(data_set)

print(media)

4.2

# Control de flujo: Condicionales

## Operadores relacionales

In [ ]:
age = 23
age

23

Los operadores relacionales se utilizan para comparar dos expresiones, para hacer preguntas.

El resultado de la evaluación es un **booleano**: `True` o `False`

In [ ]:
age == 18

False

In [ ]:
age != 18

True

In [ ]:
age > 18

True

In [ ]:
age < 18

False

In [ ]:
age >= 23

True

In [ ]:
age <= 23

True

**NOTA**:
 - Un solo signo de igualdad = en Python es **asignacion**
 - Dos signos de igualdad == es un operador relacional (una **pregunta**)

## Operadores lógicos/booleanos

Su input es booleano y su resultado es booleano

Son los operadores `and`, `or`, `not`

<img width=500 src="https://i.stack.imgur.com/nl0W8.jpg">

In [ ]:
age

23

In [ ]:
(age > 18) and (age % 2 == 0)

False

In [ ]:
(age > 18) or (age % 2 == 0)

True

In [ ]:
not (age > 18)

False

## Condicionales `if`-`elif`-`else`

El **flujo** de un programa es el camino que sigue para ejecutar el código. Este camino puede variar en función del valor de ciertas variables.

`if` ejecuta código si una condición **SÍ** se cumple

In [ ]:
age = 23

In [ ]:
if age > 18:
    print("Pasa a la discoteca")

Pasa a la discoteca

Ojo a la indentación del código

In [ ]:
if age > 18:
    print("Pasa a la discoteca")

print("Hoy es sábado")

Pasa a la discoteca
Hoy es sábado

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")

print("Hoy es sábado")

Hoy es sábado

`else` es lo que se ejecuta si **NO** se cumple una condición `if`. Es opcional

In [ ]:
if age > 18:
    print("Pasa a la discoteca")
else:
    print("Vete a la discoteca light")

Pasa a la discoteca

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
else:
    print("No puedes pasar a la zona VIP")

No puedes pasar a la zona VIP

Podríamos crear una lógica del siguiente tipo también:

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
else:
    if age > 18:
        print("Pasa a la discoteca")
    else:
        print("Vete a la discoteca light")

Pasa a la discoteca

`elif` permite simplificar lo anterior:

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
elif age > 18:
    print("Pasa a la discoteca")
else:
    print("Vete a la discoteca light")

Pasa a la discoteca

**Ejercicio**: qué imprime el código siguiente?

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
    print(1)
    if 10 > 20:
        print(2)

    print(3)

    if 10 < 20:
        print(4)

    print(5)
else:
    print(6)

print(7)

1
3
4
5
7

**Ejercicio**: si una palabra empieza por **a**, la llamamos buena. Si empieza por **e**, la llamamos regular. En otro caso es mala. Escribe un condicional que imprima de qué tipo es una palabra

In [ ]:
palabra = "Ecuador"

In [ ]:


if "a" in [palabra[0]]:
    print("buena")
elif "E" in [palabra[0]]:
    print("regular")
else:
    print("mala")

regular

In [ ]:


if palabra[0] == 'a':
    print('Buena')
elif palabra[0] == 'E':
    print('Regular')
else:
    print('Mala')

Regular

In [ ]:
if palabra.startswith("a"):
  print("Buena")
elif palabra.startswith("E"):
  print("regular")
else:
  print("mala")

regular

### break

Podemos **parar** un bucle cuando consideremos necesario

In [ ]:
words = ["algo", "Ecuador", "iglesia", "ornamento", "urgente"]

In [ ]:
for w in words:
    print(w)

    if "e" in w:
        print(f"word '{w}' contains letter 'e'!! We stop")
        break

algo
Ecuador
iglesia
word 'iglesia' contains letter 'e'!! We stop

## Bucle while

Se utiliza para correr un bucle mientras se satisfaga una condición.

In [ ]:
n = 8

In [ ]:
while n < 20:
    print(n)
    n = n + 3

8
11
14
17

# Próxima Clase
7. Funciones