<a href="https://colab.research.google.com/github/Lemito66/AnalisisDeDatos/blob/master/Taller_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Controles de flujo

<div style="text-align: right">por <a href="https://www.linkedin.com/in/angel-astudillo-aguilar" target="_blank">Angel Xavier Astudillo Aguilar</a></div>


# Recapitulación
1. Presentación e introducción al entorno de Python
2. Introducción a Python
3. Variable y Tipos de datos más comunes
4. Operadores aritméticos y textuales
5. Control de flujo: bucles
  - Tablas
  - Ciclos for

# Hoy veremos
5. Control de flujo: bucles
  - Ciclos for
6. Control de flujo: condicionales
7. Funciones

# Control de flujo: bucles

##### enumerate()

Sirve para iterar por índices, además de por los valores

In [4]:
names = ['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

In [ ]:
for n in names:
    print(n)

Alice
Bob
Jack
Mary
Manuel
Amanda
Ignacio
Fernando

In [ ]:
for i, name in enumerate(names):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
for i, nombre in enumerate(names):
    print(f"Mi amigo número {i+1} es {name}")
    print(i ** 2, nombre.upper(), "\n")

Mi amigo número 1 es Alice
0 ALICE

Mi amigo número 2 es Bob
1 BOB

Mi amigo número 3 es Jack
4 JACK

Mi amigo número 4 es Mary
9 MARY

Mi amigo número 5 es Manuel
16 MANUEL

Mi amigo número 6 es Amanda
25 AMANDA

Mi amigo número 7 es Ignacio
36 IGNACIO

Mi amigo número 8 es Fernando
49 FERNANDO

**Ejercicio**: crea una lista y añade a ella sólo los números negativos que aparecen en posición par (0, 2, 4...) de la lista original

In [8]:
nums = [5, -12, 66, 34, -1, 100, -8]

In [9]:
neg_nums = []
for i, number in enumerate(nums):
    if i % 2 == 0 and number < 0:
        neg_nums.append(number)


print(neg_nums)

[-1, -8]

##### zip()

Es utilizado para iterar por más de un iterable

In [5]:
names

['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

In [3]:
ages = [30, 20, 21, 22, 94, 54, 88, 10]

In [ ]:
len(names)

In [ ]:
len(ages)

In [6]:
for name, age in zip(names, ages):
    print(name, age)

Alice 30
Bob 20
Jack 21
Mary 22
Manuel 94
Amanda 54
Ignacio 88
Fernando 10

##### Iterar un diccionario

In [10]:
persona = {
    "age": 33,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [ ]:
for k in persona.keys():
    print(k)

In [ ]:
for pepe in persona.values():
    print(pepe)

Los diccionarios tienen un método llamado `.items()`, que enumera sus keys y values

In [11]:
persona.items()

dict_items([('age', 33), ('name', 'Manuel'), ('city', 'Madrid'), ('height', 1.84), ('has_children', False), ('friends', ['Juan', 'Luis']), ('ocupacion', {'name': 'profe', 'tiempo': 3, 'salario': 100})])

In [ ]:
for k, v in persona.items():
    print(k, "Linux", v, "\n")

In [ ]:
persona

In [12]:
for k, v in persona["ocupacion"].items()

SyntaxError: ignored

Ahora hagamos una prueba con nuestro primer dataset. Si quiero imprimir las filas de primer dataset ¿cómo lo haría?

In [13]:
fila_1 = ['Facebook',0.0,'USD',2974676,3.5]
fila_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
fila_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
fila_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
fila_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]
data_set = [fila_1,fila_2,fila_3,fila_4,fila_5]
print(data_set[0])
print(data_set[1])
print(data_set[2])
print(data_set[3])
print(data_set[4])

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [14]:
for row in data_set:
  print(row)

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

Siguiendo la filosofía *DRY* (Don't Repeat Yourself). De esta manera, podríamos aplicar un **for** para reducir nuestro código y optimizarlo buscando no *repetir líneas de código*.

In [ ]:
for fila in data_set:
    print(fila)

![tabla](https://drive.google.com/uc?export=view&id=1lGCdgouW5nII757MjCMlH5nI6HZPNnpv)

Ahora que en la **variable** interior *fila* tengo una **fila** de la **tabla** que, en este caso, es una **lista**, podemos obtener el *rating* de cada **fila** sacando el **último elemento de la lista**.

![tabla](https://drive.google.com/uc?export=view&id=1HgjOKXGPeY3GcBUaQiItqEB6UE-vbgpi)

In [ ]:
for fila in data_set:
    print(fila[-1])

Perfecto! Entonces en cada **iteración** estamos imprimiendo el *rating* de cada **fila de la tabla.** Si queremos automatizar el *cálculo* de la **media de rating** de mi **dataset**, según su definición, debo *sumar todos los ratings y dividirlos para la cantidad de ratings sumados*

# Control de flujo: Condicionales

## Operadores relacionales

In [ ]:
age = 23

Los operadores relacionales se utilizan para comparar dos expresiones, para hacer preguntas.

El resultado de la evaluación es un **booleano**: `True` o `False`

In [ ]:
age == 18

NameError: ignored

In [ ]:
age != 18

In [ ]:
age > 18

In [ ]:
age < 18

In [ ]:
age >= 23

In [ ]:
age <= 23

**NOTA**:
 - Un solo signo de igualdad = en Python es **asignacion**
 - Dos signos de igualdad == es un operador relacional (una **pregunta**)

## Operadores lógicos/booleanos

Su input es booleano y su resultado es booleano

Son los operadores `and`, `or`, `not`

<img width=500 src="https://i.stack.imgur.com/nl0W8.jpg">

In [ ]:
age

23

In [ ]:
(age > 18) and (age % 2 == 0)

In [ ]:
(age > 18) or (age % 2 == 0)

In [ ]:
not (age > 18)

False

## Condicionales `if`-`elif`-`else`

El **flujo** de un programa es el camino que sigue para ejecutar el código. Este camino puede variar en función del valor de ciertas variables.

`if` ejecuta código si una condición **SI** se cumple

In [ ]:
age = 23

In [ ]:
if age > 18:
    print("Pasa a la discoteca")

Ojo a la indentación (sangría) del código

In [ ]:
if age > 18:
    print("Pasa a la discoteca")

print("Hoy es sábado")

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")

print("Hoy es sábado")

`else` es lo que se ejecuta si **NO** se cumple una condición `if`. Es opcional

In [ ]:
if age > 18:
    print("Pasa a la discoteca")
else:
    print("Vete a la discoteca light")

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
else:
    print("No puedes pasar a la zona VIP")

Podríamos crear una lógica del siguiente tipo también:

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
else:
    if age > 18:
        print("Pasa a la discoteca")
    else:
        print("Vete a la discoteca light")

`elif` permite simplificar lo anterior:

In [ ]:
if age > 30:
    print("Pasa a la zona VIP")
elif age > 18:
    print("Pasa a la discoteca")
else:
    print("Vete a la discoteca light")

**Ejercicio**: qué imprime el código siguiente?

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
    print(1)
    if 10 > 20:
        print(2)

    print(3)

    if 10 < 20:
        print(4)

    print(5)
else:
    print(6)

print(7)

1
3
4
5
7

**Ejercicio**: si una palabra empieza por **a**, la llamamos buena. Si empieza por **e**, la llamamos regular. En otro caso es mala. Escribe un condicional que imprima de qué tipo es una palabra

In [ ]:
palabra = "renacuajo"

### break

Podemos **parar** un bucle cuando consideremos necesario

In [ ]:
words

In [ ]:
for w in words:
    print(w)

    if "e" in w:
        print(f"word '{w}' contains letter 'e'!! We stop")
        break

## Bucle while

Se utiliza para correr un bucle mientras se satisfaga una condición.

In [ ]:
n = 8

In [ ]:
while n < 20:
    print(n)
    n = n + 3

## Funciones conocidas

In [ ]:
len("table")

In [ ]:
round(4.55)

In [ ]:
import math

In [ ]:
math.log10(1000)

In [ ]:
math.cos(0)

In [ ]:
import random

In [ ]:
random.uniform(0, 5)

3.822357830212958

## Motivación

**Ejercicio**: te dan un tiempo como un string en el formato `minutos:segundos`. Pásalo a segundos

In [ ]:
t = "17:04"

La **reusabilidad** es la principal motivación para crear funciones

## Sintaxis básica y ejemplos

Definición de una función:
```python
def function_name(parameter1, parameter2, ...):
    code
    
    return something
```

Ejecución de una función:  
```python
function_name(argument1, argument2, ...)
```

o, si quieres guardar el resultado en una variable:  
```python
result = function_name(argument1, argument2, ...)
```

In [ ]:
def square_number(x):
    sq = x ** 2

    return sq

In [ ]:
square_number(10)

In [ ]:
square_number(4)

**Ejercicio**: crea una función que una palabra y devuelva la primera letra en mayúscula

**Ejercicio**: crea una función que coja un número y decida si es par

**Ejercicio**: crea una función que coja un número y devuelva la suma desde 1 hasta ese número

## Funciones con varios argumentos

In [ ]:
def get_full_name(name, surname):
    full_name = name + " " + surname

    return full_name

In [ ]:
get_full_name("pedro", "giménez")

In [ ]:
get_full_name("mesa", "silla")

In [ ]:
def get_highest_number(a, b):
    if a > b:
        return a
    else:
        return b

In [ ]:
get_highest_number(10, 6)

In [ ]:
get_highest_number(10, 60)

**Ejercicio**: crea una función que coja dos palabras y devuelva la más larga

**Ejercicio**: cscribe una función que tome dos listas como argumentos y devuelva una nueva lista que contenga sólo los elementos comunes a ambas listas

## Funciones sin argumentos

In [ ]:
def give_me_a_one():
    return 1

**Example**: build a function that returns the current weekday from 1 (Monday) to 7 (Sunday)

In [ ]:
from datetime import datetime

In [ ]:
datetime.today().weekday()

In [ ]:
def today_weekday():
    return datetime.today().weekday()

In [ ]:
today_weekday()

**Ejercicio**: crea una función que devuelva el día de la semana literal (la palabra)

## Funciones sin `return`

In [ ]:
def dummy_function(a):
    b = a * 2

In [ ]:
dummy_function(10)

In [ ]:
def say_hello():
    print("Hello!")
    # no return

In [ ]:
say_hello()

Hello!

In [ ]:
result = say_hello()

Hello!

In [ ]:
result

In [ ]:
result is None

True

In [ ]:
type(result)

NoneType

In [ ]:
# real use case
def insert_user(db_conn, user_name, user_age):
    upper_user_name = user_name.upper()
    db_conn.insert(upper_user_name, user_age)

In [ ]:
def say_hello():
    print("Hello!")

In [ ]:
no_return = say_hello()

Hello!

In [ ]:
type(no_return)

NoneType

In [ ]:
def say_hello():
    print("Hello!")
    pass

In [ ]:
pass_return = say_hello()

Hello!

In [ ]:
type(pass_return)

NoneType

In [ ]:
def say_hello():
    print("Hello!")
    return

In [ ]:
empty_return = say_hello()

Hello!

In [ ]:
type(empty_return)

NoneType

In [ ]:
def say_hello():
    print("Hello!")
    return None

In [ ]:
none_return = say_hello()

Hello!

In [ ]:
type(none_return)

NoneType

DRY = Don't Repeat Yourself

## Funciones con varios `return`

**NOTA**: Una función puede tener varios `return`. Cuando el primero se ejecuta, la función termina para siempre

In [ ]:
def rare_function(x):
    print("empezamos")
    return x * 2
    print("no llegamos")
    return x * 3
    print("no llegamos tampoco")

In [ ]:
rare_function(100)

empezamos

200

**Example**: Escribe una función que tenga de entra un número. Si es par la función devuelve el cuadro del argumento y si es impar devuelve el cubo del argumento.

## Documentación de funciones

El código se escribe 1 vez.  
El código se lee 100 veces.  
Ayuda a tus colegas a entender tu trabajo.

In [ ]:
def square_number(x):
    """
    Returns the square of a given number
    Args:
        x (float): number to square
    Returns:
        float: number squared
    """
    return x ** 2

In [ ]:
square_number(8)

In [ ]:
square_number?

## Argumentos por defecto

Una función puede tener argumentos por defecto: no es preciso pasarlos al llamar a la función.

In [ ]:
round(1.778)

In [ ]:
round(1.778, 1)

In [ ]:
def repeat(phrase, n=2):
    """
    Prints given phrase a number of times
    Args:
        phrase (str): phrase to print
        n (int): number of times to print. Defaults to 2.

    Returns:
        None
    """
    for _ in range(n):
        print(phrase)

In [ ]:
repeat("hola", 4)

In [ ]:
repeat("hola")

**Motivación**: crea una función que coja 2 números y los multiplique

**Motivación**: crea una función que coja 3 números y los multiplique

**Motivación**: crea una función que coja 10 números y los multiplique

# Próxima Clase
 8. Librerías en Python
 9. Pandas para el análisis de datos
 10. Análisis de datos